*
{
    margin: 0;
    border: 0;
}
#hero
{
    background-image: url("https://plus.unsplash.com/premium_photo-1671229454899-3ba177f87592?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGhlcm8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");
    height: 30vh;
    background-size:cover;
}
.skill-margin {
margin-top: 5rem ;
    
}

#about img
{
    border: 2px solid rgb(170, 187, 243);
    box-shadow: 0 0 40px rgb(170, 187, 243);;
    border-radius: 50%;
}
#about img:hover{
    transform: scale(1.15);
    transition: transform 0.5s;
}

#projects
{ 
  
    margin-top: 100px;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}

  /*  @media(max-width:1024px)
    {
         .tab-none
         {
            display: none;
         }
 };
 @media(max-width:678px)
 {
    #about
    {
        margin: 1px ;
        padding: ;
    }
 }
    
